@charset "UTF-8";

/*  reset
-----------------------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color:#333;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

/*  body & common
-----------------------------------------------*/

html {
  font-size: 100%;
}
body {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  width: 100%;
  height: 100%;
  color:#333;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f2f2f2;
}

.container {
  width: 1180px;
  max-width: 100%;
  margin: auto;
  padding: 40px 0;

}
.top .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mb-3 {
  margin-bottom: 20px;
}

/*  header footer component
-----------------------------------------------*/

.header {
  line-height: 50px;
  background-color: #333;
  width: 100%;
}

.inner {
  width: 1180px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: inline-block;
  color: #eee;
  font-size: 24px;
  transition:opacity 0.4s;
}
.header__logo:hover {
  opacity: 0.7;
}

.header__menu {
  display: flex;
}

summary {
  display: inline-block;
  list-style: none;
  cursor: pointer;
}
summary::-webkit-details-marker {
  display:none;
}

.header__item {
  color:#eee;
}

.header__item .task-menu > ul {
  position: absolute;
  display: block;
  width: 150px;
  top: 60px;
  background-color: #fff;
  padding: 10px 0;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 8px;
  box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15);
  z-index: 100;
}

.header__item .task-menu > ul li a:hover{
  background-color: #2479F8;
  color:#fff;
}
.header__item .task-menu > ul li a{
  display: block;
  color:#333;
  text-decoration: none;
  padding: 5px;
  line-height: 1.5;
}

.header__item .task-menu > .task-menu-toggle:before {
  content: "+";
  display: block;
  width: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}
.header__item .task-menu[open] > .task-menu-toggle:before {
  content: "-";
}
.header__item .task-menu[open] > .task-menu-toggle:after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
  background: transparent;
}
footer {
  background-color: #333;
  line-height: 50px;
  text-align: center;
  color:#eee;
}


/* button
-----------------------------------------------*/

.login-btn {
  display: inline-block;
  border-radius: 8px;
  font-size: 14x;
  text-align: center;
  cursor: pointer;
  padding: 5px 10px;
  line-height: 1em;
  color:#333;
}

/* タスク追加、フォルダー追加ボタン*/
.button {
  display: inline-block;
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  background: #2cb696;
  color: #eee;
  line-height: 1em;
  transition: 0.3s;
  box-shadow: 1px 2px 6px #ccc;
  border: 1px solid #2cb696;
}
.button:hover {
  box-shadow: none;
  color: #2cb696;
  background: #fff;
}

.logout-btn {
  display: inline-block;
  border-radius:8px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  padding: 5px 10px;
  background: #119CFE;
  color:#eee;
  transition:all 0.3s;
  border:1px solid #119CFE;
  font-weight: bold;
}
.logout-btn:hover {
  border:1px solid #eee;
  color:#119CFE;
  background-color: #eee;
}

/* todo-list
-----------------------------------------------*/

.todo-list {
  display: flex;
  justify-content: center;
  width: 100%;
}

.todo-list .todos {
  width: 100%;
  padding: 16px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 2px 16px #ccc;
}

.todo__list {
  width: 100%;
}

.todo__list td {
  border-bottom:1px solid #eee;
  padding: 5px 0;
}

.todo__list th {
  text-align: left;
  font-size: 14px;
}

.todo__list--title {
  width: 400px;
}
.todo__list--time {
  width: 150px;
  font-size: 14px;
}
.todo__list--update{
  width: 60px;
}

td.todo__list--time.one_hour {
  color:#ffa101;
  font-weight: bold;
}
td.todo__list--time.over {
  color:#eb3f60;
  font-weight: bold;
}

/* 削除ボタン */
.delete_todo {
  background-color: #eb3f60;
  border: 1px solid #eb3f60;
}
.delete_todo:hover {
  background-color: #fff;
  color: #eb3f60;
}

/* 編集ボタン */
.update_todo {
  color:#0566D6;
  text-decoration: underline;
}
.update_todo:hover {
  opacity:0.8;
}

.js_update_todo {
  background-color: transparent;
  padding: 0;
  appearance: none;
  display: inline-block;
  border: none;
  box-shadow: 1px 2px 4px #ccc;
  border-radius:2px;
  padding: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.js_update_todo:hover,
.js_update_todo:active {
  background-color: #333;
  color: #fff;
}



/* folder
-----------------------------------------------*/

.folder {
  margin: 0 3% 0 0;
  width: 20%;
  padding: 15px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 2px 16px #ccc;
}

.folder .folder-item .folder-update{
  text-decoration: underline;
  color: #0566D6;
  font-size: 13px;
  display: none;
}

.folder .folder-item .folder-link{
  margin-bottom: 5px;
  padding: 5px 10px;
  display: inline-block;
  transition: background 0.4s;
  width: 120px;
  margin-right: 10px;
  box-sizing: border-box;
}

.folder .folder-item .folder-link.full,
.folder .folder-item .folder-link.full-done{
  display: block;
  width: 100%;
}

.folder .folder-item .folder-link.full:hover,
.folder .folder-item .folder-link.full.current{
  background-color: #777;
}

.folder .folder-item .folder-link.full-done:hover,
.folder .folder-item .folder-link.full-done.current{
  background-color: #eb3f60;
}

.folder .folder-item .folder-link:focus + .folder-update,
.folder .folder-item:hover > .folder-update{
  display: inline-block;
}

.folder .folder-item .folder-link:hover{
  background-color: #0566D6;
  color:#fff;
}
.folder .folder-item .folder-link.current{
  background-color: #0566D6;
  color:#fff;
  font-weight: bold;
}


/* add_todo
-----------------------------------------------*/

.add_todo {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
.add_todo .container form{
  padding: 20px;
  box-shadow: 1px 2px 16px #ccc;
  background-color: #fff;
  border-radius:8px;
}
.add_todo form .row{
  text-align: left;
  margin-bottom: 20px;
}
.add_todo form .row label {
  margin-bottom: 8px;
  font-weight: bold;
}
.add_todo form .input-text {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 18px;
  padding: 10px 5px;
}

.add_todo form .btn-wrap {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.btn-wrap .back {
  color:#0566D6;
  text-decoration: underline;
}

.error {
  color:#eb3f60;
}


/* update
-----------------------------------------------*/

select {
  width: 100%;
  display: block;
  height: 40px;
  font-size: 18px;
  background-color: #fff;
  border:1px solid #ccc;
}


/* done
-----------------------------------------------*/

.done_container {
  width: 100%;
  margin-top: 40px;
  padding: 16px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 2px 16px #ccc;
}


/* login
-----------------------------------------------*/

.login_wrapper {
  width: 500px;
  margin: 0 auto;
}
.login_wrapper h2{
  text-align: center;
}
.login_wrapper form{
  padding: 20px;
  box-shadow: 1px 2px 16px #ccc;
  background-color: #fff;
  border-radius:8px;
}
.login_wrapper form .row{
  text-align: left;
  margin-bottom: 20px;
}
.login_wrapper form .row label {
  margin-bottom: 8px;
  font-weight: bold;
}
.login_wrapper form input {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 18px;
  padding: 10px 5px;
}

.login_wrapper form .login-btn {
  transition:background-color 0.4s,color 0.4s;
  margin-bottom: 20px;
}
.login_wrapper form .login-btn:hover {
  background-color: #333;
  color:#fff;
}

.login_wrapper form .signup-btn {
  background-color: #2479F8;
  transition:background-color 0.4s,color 0.4s;
  margin-bottom: 20px;
  color:#fff;
  font-weight: bold;
}
.login_wrapper form .signup-btn:hover {
  background-color: #fff;
  color:#2479F8;
}

.login_wrapper form .login,
.login_wrapper form .signup {
  text-align: right;
}
.login_wrapper form .login-link,
.login_wrapper form .signup-link {
  color:#0566D6;
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 2rem 1rem ;
  }
  .container .todo-list {
    flex-direction: column-reverse;
  }
  .container .todo-list .folder {
    width: 100%;
  }
  .container .todo-list .todos {
    width: 100%;
    margin-bottom:3rem;
  }

  .login_wrapper {
    width: 100%;
  }
  .header .inner {
    padding: 0 1rem;
  }
  .header__menu {
    display: flex;
    justify-content: flex-end;
  }

  .header__menu .header__item:first-child {
    display: none;
  }
}


/* modal
-------------------------------------------*/

body {
  background-color: #f4f5f7;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.window-overlay {
  overflow-x: hidden;
  align-items: flex-start;
  background-color: rgba(0,0,0,.64);
  display: none;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

.window-up .window-overlay .window,
.window-up .window-overlay {
  display: flex;
}

.window-overlay .window {
  background-color: #f4f5f7;
  border-radius: 8px;
  display: none;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 740px;
  z-index: 25;
  padding: 60px 30px;
}
